#nossa-solucao{
    position: relative;
    top: 9.4rem;

    width: 100vw;
    margin: 0;
    padding-bottom: 1.8rem;

    color: var(--principal-blue);

    background-color: var(--grey-background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nossa-solucao .start{
    width: var(--screen-width);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#nossa-solucao .start h1{
    padding: 1.8rem 0rem;

    font-family: var(--font-black);
    font-size: 5rem;
}

#nossa-solucao .start h3{
    padding: 0.9rem 0rem 1.8rem 0rem;
    font-size: 2.5rem;
    color: var(--text-color);
}

#nossa-solucao .start h3 span{
    font-family: var(--font-bold);
    color: #000;
}

#nossa-solucao .content{
    width: var(--screen-width);

    padding: 1.8rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c1, .c2, .c3{
    padding-bottom: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nossa-solucao .content .icon{
    display: flex;
    align-items: top;
    justify-content: space-between;
}

#nossa-solucao .content .icon img{
    width: 15rem;
}

#nossa-solucao .content .icon .number{
    font-family: var(--font-black);
    font-size: 7rem;
    color: var(--grey-background);
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #000;
}

#nossa-solucao .content .text{
    padding-left: 2rem;

    font-family: var(--font-black);
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
}

#nossa-solucao .end{
    width: 70%;

    border: 0.4rem var(--principal-blue) solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

#nossa-solucao .end p{
    padding: 3rem;

    font-family: var(--font-black);
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width:1210px){
    #nossa-solucao .content{
        align-items: flex-start;
        flex-direction: column;
    }
    #nossa-solucao .content .text{
        font-size: 2rem;

    }
}