<html>
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>

        <link rel="stylesheet" href="style/reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="stylesheet" href="style/global.css">
        <link rel="stylesheet" href="style/toolbar.css">
        <link rel="stylesheet" href="style/landing.css">
        <link rel="stylesheet" href="style/nossa-solucao.css">
        <link rel="stylesheet" href="style/extracao-dados.css">
        <link rel="stylesheet" href="style/face-match.css">
        <link rel="stylesheet" href="style/bg-check.css">

        <script type="text/javascript" src="script/main.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="toolbar">
                <div class="content">
                    <a href="https://idwall.co/" target="_blank"><img src="images/logo.svg" alt="logo idwall"></a>
                    <a href="#nossa-solucao">Nossa solução</a>
                    <a href="#extracao-dados">Extração de dados</a>
                    <a href="#face-match">Face Match</a>
                    <a href="#bg-check">Background Check</a>
                    <a href="https://idwall.co/contato/" class="menu" target="_blank">
                        Entrar em contato
                    </a>
                </div>
            </header>
            <section id="nossa-solucao">
                <div class="start">
                    <h1>_Como funciona a nossa solução completa:</h1>
                    <h3>Ao integrar a nossa solução no seu aplicativo,
                        <span>o usuário primeiro tira uma foto do documento e, depois, uma selfie com prova de vida,</span>
                        na qual ele sorri no final e está validado.</h3>
                </div>
                <div class="content">
                    <div class="c1">
                        <div class="icon">
                            <p class="number">1</p>
                            <img src="images/icons/icon1-section1.svg" alt="ícone tirando foto do documento">
                        </div>
                        <p class="text">O usuário tira uma foto do documento.</p>
                    </div>
                    <div class="c2">
                        <div class="icon">
                            <p class="number">2</p>
                            <img src="images/icons/icon2-section1.svg" alt="ícone selfie sorrindo">
                        </div>
                        <p class="text">Depois, o usuário tira uma selfie sorrindo, que serve como uma prova de vida.</p>
                    </div>
                    <div class="c3">
                        <div class="icon">
                            <p class="number">3</p>
                            <img src="images/icons/icon3-section1.svg" alt="ícone usuário checked">
                        </div>
                        <p class="text">E pronto!<br>Nós fazemos com que o cadastro seja fácil e seguro.</p>
                    </div>
                </div>
                <div class="end">
                    <p>Você também pode usar a solução IDWALL separadamente em cada etapa do seu fluxo de verificação.</p>
                </div>
            </section>
            <section class="arrow">
                <a href="#extracao-dados">
                    <img src="images/icons/icon-arrow-hero.svg" alt="Seta">
                </a>                
            </section>
            <section id="extracao-dados">
                <div class="content">
                    <div class="text">
                        <h1>_Extração de dados de documentos com OCR</h1>
                        <h4>(CNH, RG E CRLV)</h4>
                        <p class='info'>Nossa solução recebe a foto do documento, passa essa imagem por um processo de machine learning (OCR) e extrai automaticamente todas as informações. Você pode verificar a integridade e a consistência dos dados aliando essa solução ao nosso Background Check.</p>
                        <div class="list">
                            <p><span>_</span>Reduza seu backoffice manual</p>
                            <p><span>_</span>Valide a identidade e o risco de seu cliente</p>
                            <p><span>_</span>Utilizamos machine learning para o reconhecimento óptico de caracteres</p>
                            <p><span>_</span>Foque em dados cruciais na extração e otimize ainda mais sua operação</p>
                            <p><span>_</span>Modelo de confiança permite uma melhor análise automática de tipificação</p>
                            <p><span>_</span>Recusa automática de fotos que não sejam de documentos</p>
                            <p><span>_</span>Tipificação automática</p>
                        </div>
                    </div>
                    <div class="img"><img src="images/extracao-dados.png" alt="Homem extraindo dados de seu documento com o celular"></div>
                </div>
            </section>
            <section id="face-match">
                <div class="content">
                    <div class="img"><img src="images/face-match.png" alt="Homem extraindo dados de seu documento com o celular"></div>
                    <div class="text">
                        <h1>_Face Match</h1>
                        <p class='info'><span>Nossa tecnologia de reconhecimento facial reduz o risco de fraudes por personificação.</span> Por meio da comparação de uma foto tirada no momento do cadastro e da foto usada no documento, nós confirmamos que seus usuários são quem realmente dizem ser</p>
                        <div class="list">
                            <p><span>_</span>Reduza fraudes de identidade</p>
                            <p><span>_</span>Automatize seu backoffice</p>
                            <p><span>_</span>Totalmente integrado aos outros produtos da idwall</p>
                            <p><span>_</span>Biometria facial feita com inteligência artificial</p>
                            <p><span>_</span>Face liveness: prova de vida com sorriso presente no sdk</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="bg-check">
                <div class="content">
                    <div class="text">
                        <h1>_Background Check</h1>
                        <p class='info'>Faça consulta de dados de forma ágil e prática com a nossa solução de Background Check. <span>Consulte automaticamente informações essenciais em mais de 250 fontes de dados</span> e agilize o processo de onboarding digital de clientes e parceiros, sem deixar de lado a segurança do seu negócio.</p>
                        <div class="list">
                            <p><span>_</span>Solução altamente personalizável</p>
                            <p><span>_</span>Mais tecnologia para seu compliance</p>
                            <p><span>_</span>Atenda kyc & pld sem fricção para seus clientes</p>
                            <p><span>_</span>Gestão de risco inteligente e prática</p>
                            <p><span>_</span>Buscas automatizadas nas fontes de dados</p>
                            <p><span>_</span>Dados mais atualizados significam mais segurança</p>
                            <p><span>_</span>Integração com birôs de crédito se você já tiver conta</p>
                            <p><span>_</span>Proteja sua operação de fraudes de identidade</p>
                            <p><span>_</span>Consultas para pf e pj</p>
                            <p><span>_</span>Fluxo de aprovação de acordo com as suas regras de negócios</p>
                            <p><span>_</span>Processo de verificação em fases, ou seja, algumas buscas são acionadas apenas em determinadas condições</p>
                            <p><span>_</span>Filtre a consulta de processos por tipo de crime</p>
                            <p><span>_</span>Veja nosso catálogo de consultas</p>
                        </div>
                    </div>
                    <div class="img"><img src="images/bg-check.png" alt="Homem extraindo dados de seu documento com o celular"></div>
                </div>
            </section>
            <footer class="footer">
                <div class="content">
                    <p>Quer ver <span>mais?</span></p>
                    <button onclick='Main.openURL()'>Entrar em contato</button>
                </div>
            </footer>
        </div>
    </body>
</html>